
# if some of the following gets included, check the tests and fixtures as 
# they have to be included as well
prune automation 
prune maya/automation
exclude dge.py 
exclude dgfe.py 
exclude batch.py 
exclude mdp.py
exclude conf.py

prune test/automation
prune test/maya/automation
exclude test/test_conf.py 
exclude test/test_dge.py 
exclude test/test_dgfe.py 
exclude test/test_batch.py 
exclude test/test_mdp.py

graft test/fixtures
exclude test/fixtures/ma/large_scene_100000.mb
exclude test/fixtures/ma/large_scene_25000.mb

# excluded as long conf.py is excluded
prune test/fixtures/*ini*
prune test/fixtures/*INI*

graft bin
graft test/bin
recursive-include doc *.py makedoc
graft doc/source

include AUTHORS

graft ext
prune ext/networkx/.git
prune ext/pydot/.git
prune ext/pyparsing/.git


global-exclude .git*
global-exclude *.pyc
